label {
    line-height: 1.5;
}

.P {
    margin-right: 40px;
}

.Q {
    margin-right: 82px;
}

.U {
    margin-right: 72px;
}

input {
    width: 445px;
}

h1 {
    text-align: center;
    padding-bottom: 20px;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    margin-top: -80px;
}

.container {
    border: 3px solid rgba(86, 146, 231, 0.822);
    padding: 40px;
}

#tbl {
    width: 601px;
    border-spacing: 0;
    /* để giữa các chữ no product name khoong có khoảng cách */
}

#tbl tr {
    height: 27px;

}

#tbl tr th,
#tbl tr td {
    text-align: left;
    /* để cho nó canh giữ nếu không canh giữa nó sẽ chạy lộn xộn */
    border: none;
}

#tbl tr:last-child th {
    border-top: 1px solid #ccc;
    /* Border chỉ cho hàng tổng */
}

button:hover {
    background-color: black;
    color: white;
    border: 3px solid #bbb;
}

thead {
    background-color: rgb(34, 32, 32);
    color: white;
    border: none;
}